
	.btn-face {
		-webkit-appearance: none;
		button, html input[type="button"], input[type="reset"], input[type="submit"] - button
		button - button user agent stylesheet
		-webkit-background-clip: border-box;
		-webkit-background-origin: padding-box;
		-webkit-background-size: auto;
		-webkit-box-shadow: none;
		-webkit-font-smoothing: antialiased;
		-webkit-transition-delay: 0s;
		-webkit-transition-duration: 0.2s;
		-webkit-transition-property: background-color, color, opacity, border;
		-webkit-transition-timing-function: ease-out;
		-webkit-writing-mode: horizontal-tb;
		align-items: flex-start;
		background-attachment: scroll;
		background-clip: border-box;
		background-color: rgb(73, 109, 181);
		background-image: none;
		background-origin: padding-box;
		background-position: 0% 0%;
		background-repeat: repeat;
		background-size: auto;
		border-bottom-color: rgb(73, 109, 181);
		border-bottom-left-radius: 3px;
		border-bottom-right-radius: 3px;
		border-bottom-style: none;
		border-bottom-width: 0px;
		border-collapse: collapse;
		border-image-outset: 0px;
		border-image-repeat: stretch;
		border-image-slice: 100%;
		border-image-source: none;
		border-image-width: 1;
		border-left-color: rgb(73, 109, 181);
		border-left-style: none;
		border-left-width: 0px;
		border-right-color: rgb(73, 109, 181);
		border-right-style: none;
		border-right-width: 0px;
		border-top-color: rgb(73, 109, 181);
		border-top-left-radius: 3px;
		border-top-right-radius: 3px;
		border-top-style: none;
		border-top-width: 0px;
		box-shadow: none;
		box-sizing: border-box;
		color: rgb(255, 255, 255);
		cursor: pointer;
		display: block;
		font-family: SourceSansProWeb, 'Source Sans Pro Google Fonts', 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
		font-size: 16px;
		font-weight: normal;
		height: 31px;
		letter-spacing: normal;
		line-height: 27.2000007629395px;
		margin-bottom: 0px;
		margin-left: 2px;
		margin-right: 2px;
		margin-top: 0px;
		padding-bottom: 2px;
		padding-left: 2px;
		padding-right: 2px;
		padding-top: 2px;
		text-align: center;
		text-indent: 0px;
		text-rendering: optimizelegibility;
		text-shadow: none;
		text-transform: none;
		transition-delay: 0s;
		transition-duration: 0.2s;
		transition-property: background-color, color, opacity, border;
		transition-timing-function: ease-out;
		width: 270px;
		word-spacing: 0px;
		writing-mode: lr-tb;
		Rendered Fonts
		Source Sans Pro—8 glyphs
	}
	.icon-btn-face {
		-webkit-background-clip: border-box;
		-webkit-background-origin: padding-box;
		-webkit-background-size: auto;
		-webkit-font-smoothing: antialiased;
		-webkit-transition-delay: 0s;
		-webkit-transition-duration: 0.2s;
		-webkit-transition-property: background-color, color, opacity, border;
		-webkit-transition-timing-function: ease-out;
		background-attachment: scroll;
		background-clip: border-box;
		background-color: rgba(0, 0, 0, 0);
		background-image: url(http://static.claromusica.imusica.com.br/media/statics/_default//img/face-icon.png);
		background-origin: padding-box;
		background-size: auto;
		border-collapse: collapse;
		box-sizing: border-box;
		color: rgb(255, 255, 255);
		cursor: pointer;
		display: block;
		float: left;
		font-family: SourceSansProWeb, 'Source Sans Pro Google Fonts', 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
		font-size: 16px;
		font-weight: normal;
		height: 26px;
		letter-spacing: normal;
		line-height: 27.2000007629395px;
		margin-right: -30px;
		text-align: center;
		text-indent: 0px;
		text-rendering: optimizelegibility;
		text-shadow: none;
		text-transform: none;
		transition-delay: 0s;
		transition-duration: 0.2s;
		transition-property: background-color, color, opacity, border;
		transition-timing-function: ease-out;
		width: 30px;
		word-spacing: 0px;
	}